@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

@theme {
    --font-sans: "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
    font-family: var(--font-sans);
    font-feature-settings: "tnum"; /* Tabular Figures: 숫자의 폭을 일정하게 맞춤 */
}