@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@theme {
    --font-sans: "Noto Sans KR", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
    font-family: var(--font-sans);
    letter-spacing: -0.02em;
    /* 숫자 고정폭*/
    font-feature-settings: "tnum";
}